/* =============================================================================
  RESETS
============================================================================= */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}
/* =============================================================================
  HTML, BODY, DEFAULTS
============================================================================= */
html,
body {
  height: 100%;
}
body {
  background: #272727;
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5;
  text-align: center;
  color: #ECEFF1;
}
a:link { color:#B3E5FC; text-decoration: none; }
a:visited { color:#80DEEA; text-decoration: none; }
a:hover { color:#4DD0E1; text-decoration: none; }
a:active { color:#80DEEA; text-decoration: underline; }

@media screen and (max-width: 768px){
  video {
    display: none;
  }
}
h1 {
  text-shadow: 2px 1px 1px #f4f4f4;
  color: #ECEFF1;
  font-size: 58px;
  letter-spacing: 0.2em;
}
h2 {
  font-size: 38px;
  letter-spacing: 0.2em;
}
h3 {
  font-size: 32px;
  letter-spacing: 0.2em;
}
p {
  color: #CFD8DC;
  font-size: 18px;
  line-height: 3rem;
  max-width: inherit;
}
li {
  list-style-type: none;
}
/* =============================================================================
  CONTENT
============================================================================= */
.hero{
  margin-top: 400px;
  margin-bottom: 250px;
}
.project {
  margin-bottom: 60px;
}
.project-img {
  max-width: 500px;
}
.contact {
  margin-top: 5rem;
}
.contact-header {
  margin-bottom: 35px;
}
/* =============================================================================
  VIDEO
============================================================================= */
video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
